<%- include("header.ejs") %>

<div class="app">
    <a href="/jokes"><button>Get random joke</button></a>
    <% if (locals.joke) {%>
    <div class="joke-api">
        <h4><%= joke.setup%></h4>
        <p><%= joke.punchline%></p>
    </div>
    <% }%>

    <a href="/cocktails"><button>Get random cocktail</button></a>
    <% if (locals.cocktail) {%>
    <div class="cocktail-api">
        <h4><%= cocktail.strDrink%></h4>
        <p>Ingredients:</p>
        <ul>
            <% for (let i =1; i<= 15; i++) {%>
                <% const imgSource = cocktail.strDrinkThumb %>
                <li><%= cocktail[`strIngredient${i}`] === null ? "" : cocktail[`strIngredient${i}`] + ": " + cocktail[`strMeasure${i}`] %> </li>
            <% }%>
        </ul>
    </div>
    <% }%>
</div>

<%- include("footer.ejs") %>
